<!DOCTYPE HTML>
<html>
<head>
    <title>Socket Test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io();
            var socketId;

            socket.on('connect', function(data) {
                socketId = socket.id;
                socket.emit('connect_event', {'data': socket.id});
                $('#username').append(' ' + socket.id + '<br>');
                return false;
            });

            socket.on('disconnect', function(data) {
                $('#log').append('<br>User left: ' + socketId);

                fetch('http://localhost:5000/' + socketId, {
                    method: 'get'
                }).then(response =>
                    response.json().then(json => {
                    return json;
                    })
                );
                return false;
            });

            socket.on('user_joined', function(msg) {
                $('#log').append('<br>User joined: ' + JSON.stringify(msg));
            });

            socket.on('user_left', function(msg) {
                $('#log').append('<br>User left: ' + JSON.stringify(msg));
            });

            socket.on('on_message', function(msg) {
                $('#log').append('<br>' + JSON.stringify(msg));
            });
           $('form#emit').submit(function(event) {
                socket.emit('send_message', {'User': socket.id,
                                             'Message': $('#emit_data').val()});                       
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Socket Test</h1>
    <h3 id="username">Username: </h3>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send Message">
    </form>
    <div><p id="log"></p></div>
</body>
</html>
